

#datetime {
  text-align: center;
}
#datetime h1 {
  font-size: 6.1em;
}

div.inline {
	float:left;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url(../bootstrap/fonts/glyphicons-halflings-regular.otf);
  /*src: url('../bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff'), url('../bootstrap/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');*/
}