<!DOCTYPE html>
<html data-ng-app="myApp">
<head>
<!--   <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-inline' 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *"> -->

  <title>Crafty Wars</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/loadingSpinner.css">
  <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="bootstrap/css/bootstrap-theme.min.css">
</head>

<body>
  <h1 id="greeting"></h1>

  <div class="col-lg-12">
    <div data-ng-controller="MainCtrl">
      <div class="input-group">
        <span class="input-group-btn">
          <button title="{{ account.keyWarning }}" data-ng-click="account.keyChange(account.apiKey)" class="btn btn-secondary" type="button">
            <span style="color: {{ account.glyphColour }}" class="glyphicon {{ account.img }}"></span>
          </button>
        </span>
        <input type="text" id="txtApiKey" ng-change="account.keyChange(account.apiKey)" class="form-control" placeholder="API Key" data-ng-model="account.apiKey"></input>
      </div>
      <hr>
      <fieldset ng-disabled="!account.authenticated">
        <button data-ng-click="account.saveLocal()" class="btn btn-secondary" type="button">Save to local</button>
        <button data-ng-click="account.reloadFromServer()" class="btn btn-secondary" type="button">Load from Server</button>
        <button data-ng-click="account.clearLocal()" class="btn btn-secondary" type="button">Clear local</button>
  
        <div data-ng-controller="FilterCtrl">
          <button data-ng-click="refresh()" class="btn btn-secondary" type="button">Refresh</button>
          <form class="form-inline">
            <div class="checkbox" data-ng-repeat="discipline in CONST.disciplines">
              <input type="checkbox" checklist-model="selectedDisciplinesModel" checklist-value="discipline"> 
                {{ discipline }} &nbsp;&nbsp; 
              </input>
            </div>
            <div class="checkbox">
              <input type="checkbox" data-ng-click="updateAllDisciplines($event)" data-ng-checked="isAllSelected()"> 
                Select All
              </input>
            </div>
          </form>

          <div class="inline" data-ng-repeat="class in CONST.craftClass">
            <label>&nbsp;&nbsp;  {{class | capitalize }}:  </label>
            <multiselect data-ng-model="selectedTypeModels[class]" options="(t | stringify) for t in CONST.craftType[class]" data-multiple="true" scroll-after-rows="10" filter-after-rows="10" max-width="100">
            </multiselect>

          </div>

          <br>
          <div>
            <table st-safe-src="craftingList" st-table="displayedCollection" class="table table-striped">
                <thead>
                  <tr>
                    <th st-sort="craftableAmount" st-ratio="1">Craftable Amount</th>
                    <th st-sort="min_rating" st-ratio="1">Min Rating</th>
                    <th st-sort="type" st-ratio="15">Type</th>
                    <th st-ratio="5">Crafted Item</th>
                    <th st-ratio="5">disciplines</th>
                    <th st-ratio="60">ingredients</th>
                  </tr>
                </thead>
                <tbody ng-show="!isLoading()">
                  <tr ng-repeat="item in displayedCollection">
                    <td>{{ item.craftableAmount }}</td>
                    <td>{{ item.min_rating }}</td>
                    <td>{{ item.type | stringify }}</td>
                    <td><div ng-bind-html="idsToHtmlImgs(item.craftedItem)"></div></td>
                    <td><div ng-bind-html="idsToHtmlImgs(item.disciplines)"></div></td>
                    <td><div ng-bind-html="idsToHtmlImgs(item.ingredients)"></div></td>
                  </tr>
                </tbody>
                <tbody ng-show="isLoading()" class="ng-hide">
                  <tr>
                    <td colspan="9" class="text-center"><div class="loader">Loading...</div></td>
                  </tr>
                </tbody>
              <tfoot ng-show="!isLoading()">
                <tr>
                  <td colspan="9" class="text-center">
                    <div st-items-by-page="10" st-pagination="" st-template="js/vendors/smart-table/pagination.custom.html"></div>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </fieldset>
    </div>

  </div>

  <script src="js/vendors/tether.min.js"></script>
  <script src="js/vendors/jquery.min.js"></script>
  <script src="bootstrap/js/bootstrap.min.js"></script>
  <script src="js/vendors/angular.min.js"></script>
  <script src="js/vendors/smart-table/smart-table.min.js"></script>
  <script src="js/vendors/underscore-min.js"></script>
  <script src="js/vendors/checklist-model.js"></script>
  <script src="js/vendors/angular-bootstrap-multiselect.js"></script>
  <script src="js/vendors/lrInfiniteScrollPlugin.js"></script>
  <script src="js/main.js"></script>
  <script src="js/app.js"></script>
  <script src="js/utils.js"></script>
  <script src="js/constants.js"></script>

</body>
</html>
