<!DOCTYPE html>
<html data-ng-app="myApp">
<head>
<!--   <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-inline' 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *"> -->

  <title>Crafty Wars</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="bootstrap/css/bootstrap-theme.min.css">
</head>

<body>
  <h1 id="greeting"></h1>

  <div class="col-lg-12">
    <div data-ng-controller="MainCtrl">
      <input type="text" id="txtApiKey" class="form-control" placeholder="API Key" data-ng-model="apiKey"></input>

<!--       <div class="input-group">
        <input type="text" id="txtSearch" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
          <button data-ng-click="utils.updateView()" class="btn btn-secondary" id="btnSearch" type="button"><span class="glyphicon glyphicon-search"></span></button>
        </span>
      </div> -->
      <hr>
      <button data-ng-click="saveLocal()" class="btn btn-secondary" type="button">Save to local</button>
      <button data-ng-click="clearLocal()" class="btn btn-secondary" type="button">Clear local</button>
    </div>
  </div>
  

  <div class="col-lg-1">
    <div data-ng-controller="FilterCtrl">
      <button data-ng-click="test1()" class="btn btn-secondary" type="button">Debug</button>
      <button data-ng-click="refresh()" class="btn btn-secondary" type="button">Refresh</button>
      <form class="form-inline">
        <div class="checkbox" data-ng-repeat="craft in CONST.crafts">
          <input type="checkbox" checklist-model="selectedDisciplinesModel" checklist-value="craft.discipline"> 
            {{ craft.discipline }} &nbsp;&nbsp; 
          </input>
        </div>
        <div class="checkbox">
          <input type="checkbox" data-ng-click="updateAllDisciplines($event)" data-ng-checked="isAllSelected()"> 
            Select All
          </input>
        </div>
      </form>

      <div class="inline" data-ng-repeat="class in CONST.craftClass">
        <label>&nbsp;&nbsp;  {{class | capitalize }}:  </label>
        <multiselect data-ng-click="updateSelectedTypes()" data-ng-model="selectedTypeModels[class]" options="(t | stringify) for t in CONST.craftType[class]" data-multiple="true" scroll-after-rows="10" filter-after-rows="10" max-width="100">
        </multiselect>

      </div>

      <br>
      <div>
        <table st-safe-src="craftingDetails" st-table="displayedCollection" class="table table-striped">
            <thead>
              <tr>
                <th st-ratio="5">Craftable</th>
                <th st-ratio="5">Min Rating</th>
                <th st-ratio="10">Type</th>
                <th st-ratio="5">Crafted Item</th>
                <th st-ratio="10">disciplines</th>
                <th st-ratio="50">ingredients</th>
                <th st-ratio="5">Cost to make</th>
                <th st-ratio="5">Sell Price</th>
                <th st-ratio="5">Profit (%)</th>
              </tr>
              <th>
                <input st-search="craftable" placeholder="search craftable" class="input-sm form-control" type="search"/>
              </th>
              <th>
                <input st-search="min_rating" placeholder="search rating" class="input-sm form-control" type="search"/>
              </th>
              <th>
                <input st-search="type" placeholder="search type" class="input-sm form-control" type="search"/>
              </th>
              <th>
                <input st-search="craftedItem" placeholder="search item" class="input-sm form-control" type="search"/>
              </th>
              <th>
                <input st-search="disciplines" placeholder="search discipline" class="input-sm form-control" type="search"/>
              </th>
              <th>
                <input st-search="ingredients" placeholder="search count" class="input-sm form-control" type="search"/>
              </th>
            </thead>
            <tbody>
              <tr ng-repeat="item in displayedCollection">
                <td>{{ item.craftable }}</td>
                <td>{{ item.min_rating }}</td>
                <td>{{ item.type }}</td>
                <td>{{ item.craftedItem }}</td>
                <td><div ng-bind-html="idsToHtmlImgs(item.disciplines)"></div></td>
                <td>{{ item.ingredients }}</td>
                <td>{{ item.craftCost }}</td>
                <td>{{ item.sellPrice }}</td>
                <td>{{ item.profit }}</td>
              </tr>
            </tbody>
          <tfoot>
            <tr>
              <td colspan="5" class="text-center">
                <div st-items-by-page="10" st-pagination="" st-template="js/vendors/smart-table/pagination.custom.html"></div>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
      {{count}}
<div ng-show="isLoading" class="loading-indicator"></div>
    </div>
  </div>


  <script src="js/vendors/tether.min.js"></script>
  <script src="js/vendors/jquery.min.js"></script>
  <script src="bootstrap/js/bootstrap.min.js"></script>
  <script src="js/vendors/angular.min.js"></script>
  <script src="js/vendors/smart-table/smart-table.min.js"></script>
  <script src="js/vendors/underscore-min.js"></script>-
  <script src="js/vendors/checklist-model.js"></script>
  <script src="js/vendors/angular-bootstrap-multiselect.js"></script>
  <script src="js/vendors/lrInfiniteScrollPlugin.js"></script>
  <script src="js/main.js"></script>
  <script src="js/app.js"></script>
  <script src="js/utils.js"></script>
  <script src="js/constants.js"></script>

</body>
</html>
